# Classify R Markdown files as R code for GitHub language statistics
# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
*.[Rr]md linguist-language=R

# Avoid expensive text diffs for frozen annotations and compressed/binary data.
data/GO_Annotations/*.annotations -diff
data/**/*.gz binary
data/**/*.xlsx binary
